<div id="mingle-box">

    <form-checkbox data-enum="1,Android;2,iOS;3,MacOS;4,Windows"></form-checkbox>

    <button @click="onClick">toggle</button>
</div>

<script>

    new Mingle({
        el: '#mingle-box',
        data: {
            message: 'Hello World',
            list: [
                { name: 'Chris', value: 'Chris' },
                { name: 'Chris', value: 'Chris' },
                { name: 'Chris', value: 'Chris' },
                { name: 'Chris', value: 'Chris' },
                { name: 'Chris', value: 'Chris' },
                { name: 'Chris', value: 'Chris' },
                { name: 'Chris', value: 'Chris' },
            ],
            logs: [
                { name: 'Chris', value: 'Chris' },
                { name: 'Chris', value: 'Chris' },
                { name: 'Chris', value: 'Chris' },
                { name: 'Chris', value: 'Chris' },
                { name: 'Chris', value: 'Chris' },
                { name: 'Chris', value: 'Chris' },
                { name: 'Chris', value: 'Chris' },
            ],
            pf: $('[name=pf]').val(),
            toggle: true,
        },

        async created() {

        },

        methods: {
            onClick(e) {
                this.toggle = !this.toggle;
            },

            handleClick() {

            },
        },
    });
</script>
