<div id="mingle-box">
    <h1><{message}></h1>

    <form-select onchange="console.log(this.value)">
        <input data-fn="form-select" data-enum="1,Android;2,iOS" value="1" name="pf">
    </form-select>

    <input data-fn="form-select" data-enum="1,Android;2,iOS" value="1" name="pf">

    <ul>
        <li w-foreach="list as (item,index)" w-click="handleClick(item)">
            name: <{item.name}> value: <{item.value}>
        </li>
    </ul>

    <ul>
        <li w-foreach="logs as (item,i)" data-fn="view-panel" data-model="<{item}>">
            <!--            <button data-fn="layout-window" data-label="<{i}>" data-title="<{i}>">-->
            <!--            <div data-fn="view-panel" data-model="<{item}>"></div>-->
            <!--            </button>-->
        </li>
    </ul>
</div>

<script>

    new Mingle({
        el: '#mingle-box',
        data: {
            message: 'Hello World',
            list: [
                {name: 'Chris', value: 'Chris'},
                {name: 'Chris', value: 'Chris'},
                {name: 'Chris', value: 'Chris'},
                {name: 'Chris', value: 'Chris'},
                {name: 'Chris', value: 'Chris'},
                {name: 'Chris', value: 'Chris'},
                {name: 'Chris', value: 'Chris'},
            ],
            logs: [
                {name: 'Chris', value: 'Chris'},
                {name: 'Chris', value: 'Chris'},
                {name: 'Chris', value: 'Chris'},
                {name: 'Chris', value: 'Chris'},
                {name: 'Chris', value: 'Chris'},
                {name: 'Chris', value: 'Chris'},
                {name: 'Chris', value: 'Chris'},
            ],
            pf: $('[name=pf]').val(),
        },

        async created() {
            this.logs = (await this.getLogsData()).splice(0, 50);
        },

        methods: {
            // 获取日志
            async getLogsData() {
                let res = await this.$get('http://mingle.local.aidalan.com/server/logs');
                // let res = await this.$get('http://mingle.local.aidalan.com/server/mock/chart/funnel.json');
                return res.status ? res.data : [];
            },

            handleClick(item) {
                console.log(item);
            }
        },
    });
</script>
