<div class="a-data-table">
    
    <data-table data-height="400"></data-table>

    <handle-request data-url="https://baidu.com">请求</handle-request>

</div>
<script>
    new Mingle({
        el: '.a-data-table',
        data: {
            title: 'Hello World',
            headerData: [],
        },
        async created() {
            let data = await this.$jsonp(`/server/mock/table/tableHeader.json`);
            console.log(data);
            this.headerData = data;
        },

        methods: {
            handleClick(item) {
                console.log(item);
                $('.pwd').get(0).hidden = false;
            },
        },
    });
</script>

<script>
    window.onload = function () {
        new Mingle({
            el: '.a-data-table'
        });
    };
</script>
