<div id="demo2">
    <div virtual-key="container" name="主页面">

        <layout-list virtual-key="40ab-1618199843357-75257" class="children-events-disabled" data-cols="2"
                     data-url="http://mingle-test.local.aidalan.com/server/mock/chart/funnel.json" data-space="10,10"
                     data-selectable="false" data-single="false" data-searchable="false" data-item="item"
                     data-index="index" data-height="0">
            <data-table virtual-key="264f-1618199846123-30364" class="children-events-disabled"
                        data-from=""
                        data-headerurl="/server/mock/table/tableHeader.json"
                        data-url="/server/mock/table/tableContent.json"
                        data-bordered="true"
                        data-showheader="true"
                        data-size="small"
                        data-pagesize="500"
                        data-currentpage="1"
                        data-pages="50,100,200"
                        data-pagination="true"
                        data-position="bottomRight"
                        data-interval="0"
                        data-height="400"
                        data-title="<{item.key}>"
                        data-showupdate="false"
                        data-headfield=""
                        data-rowkey=""></data-table>
        </layout-list>
    </div>

</div>

<script>
    new Mingle({
        el: '#demo2',
        data: {
            count: 0,
            list: [
                {
                    name: '淘宝',
                    url: 'https://taobao.com',
                },
                {
                    name: '百度',
                    url: 'https://baidu.com',
                },
                {
                    name: '京东',
                    url: 'https://www.jd.com/',
                },
            ],
            'tables': [
                {
                    'key': '渠道1',
                    'value': 50000,
                    'value1': 500000,
                },
                {
                    'key': '渠道2',
                    'value': 35000,
                    'value1': 350000,
                },
                // {
                //     'key': '渠道3',
                //     'value': 25000,
                //     'value1': 250000,
                // },
                // {
                //     'key': '渠道4',
                //     'value': 15000,
                //     'value1': 150000,
                // },
                // {
                //     'key': '渠道5',
                //     'value': 8000,
                //     'value1': 80000,
                // },
            ],
            'containerNode': {},
        },

        methods: {
            add() {
                this.count++;
            },
            reduce() {
                this.count--;
            },
        },
    });
</script>
