<div class="demo">
    <button data-fn="handle-operate" data-operate="layout-window">
        Submit
    </button>

    <a data-fn="layout-window" href="#">百度</a>

    <a data-fn="layout-drawer" href="#">layour-drawer</a>

    <layout-drawer data-label="哈哈"></layout-drawer>


</div>

<script>
    new Mingle({
        el: '.demo',
        data: {
            publisher_name: '-----------',
            inputValue: '100',
            title: 'Hello World ~',
            count: 0,
            visible: true,
            list: [
                { name: 'Chris' },
                { name: 'name1' },
                { name: 'name2' },
                { name: 'name3' },
                { name: 'name4' },
                { name: 'name5' },
                { name: 'name6' },
            ],
            obj: {},
        },
        created() {
        },
        methods: {
            handleClick(e) {
                console.log(e);
            },

            show() {
                this.visible = true;
            },
            hide() {
                this.visible = false;
            },
            add() {
                this.count++;
            },
            reduce() {
                this.count--;
            },
        },
    });
</script>
