<div id="demo1">

    <!--    <layout-list data-cols="1">-->
    <!--    <data-table data-title="table"></data-table>-->
    <!--    </layout-list>-->

    <ul>
        <li w-foreach="list as item">
            <a data-fn="layout-window" href="#">submit</a>
        </li>
    </ul>

</div>

<script>
    new Mingle({
        el: '#demo1',
        data: {
            publisher_name: '-----------',
            inputValue: '100',
            title: 'Hello World ~',
            count: 0,
            visible: true,
            list: new Array(10).fill({ name: Math.random(1000) }),
            obj: {
                game_id: '4',
                pf: '2',
            },
        },
        created() {
            // this.list = new Array(10000).fill({ name: Math.random(1000) });
        },
        methods: {
            handleClick(e) {
                console.log(e);
            },

            show() {
                this.visible = true;
            },
            hide() {
                this.visible = false;
            },
            add() {
                this.count++;
            },
            reduce() {
                this.count--;
            },
        },
    });
</script>
