<div class="entiy-operation">
    <form-action id="entity-test">
        <form-radio data-enum="0,All;1,Android;2,iOS" name="pf" data-exec="true"></form-radio>
    </form-action>
    <data-table
        data-entity_id="22"
        data-entity_url="//amis.local.superdalan.com/api/random"
        data-from="entity-test"
        data-rowkey="id"
        data-headerurl="//amis.local.superdalan.com/api/random/header"
        data-url="//amis.local.superdalan.com/api/random"
    ></data-table>

    $module="app-entity"
    ~module="app-entity"
    #module="app-entity"
    !module="app-entity"
    &module="app-entity"
    *module="app-entity"
    †module="app-entity"
    ƒmodule="app-entity"


    <!--    <div>-->
    <!--        <a data-fn="layout-window" data-entity_id="22" data-edata-fromntity_mode="update" data-uid="<{id}>">编辑</a>-->
    <!--        <a data-fn="handle-request"-->
    <!--           data-url="//amis.local.superdalan.com/api/random/<{id}>"-->
    <!--           data-method="delete"-->
    <!--           href="javascript:void(0)">删除</a>-->
    <!--    </div>-->
</div>


<script>
    new Mingle({ el: '.entiy-operation' });
</script>
