<form-group id="A-form-group" name="server_group">
    <form-select
        data-label="label:"
        data-enum="1,Android;2,iOS;3,MacOS;4,Windows"
        data-url="http://mingle.local.aidalan.com/server/mock/select.json"
        data-disabled="false"
        data-mode="multiple"
        data-key="id"
        data-value="<{publisher_name}>"
        data-groupby=""
        data-required="false"
        data-smart="false"
        name="form-select-1"
    ></form-select>

    <form-radio
        data-label="label:"
        data-enum="1,Android;2,iOS;3,MacOS;4,Windows"
        data-disabled="false"
        data-size="middle"
        data-type="button"
        data-buttonStyle="solid"
        data-required="false"
        data-smart="false"
        name="form-select-2"
    ></form-radio>

</form-group>

<script>
    new Mingle({
        el: '#A-form-group',
        data: {},
        created() {

        },
    });
</script>
