<div id="app">
    <layout-list data-cols="2" data-space="20,20" data-single="false" name="server">
        <div w-foreach="list as (item,i)">
            <view-image w-if="i % 2 === 0"></view-image>
        </div>
    </layout-list>
    <button type="submit" class="ant-btn ant-btn-primary">submit</button>
</div>

<script>
    new Mingle({
        el: '#app',
        data: {
            list: [
                {
                    'key': '渠道1',
                    'value': 50000,
                    'value1': 500000,
                },
                {
                    'key': '渠道2',
                    'value': 35000,
                    'value1': 350000,
                },
                {
                    'key': '渠道3',
                    'value': 25000,
                    'value1': 250000,
                },
                {
                    'key': '渠道4',
                    'value': 15000,
                    'value1': 150000,
                },
                {
                    'key': '渠道5',
                    'value': 8000,
                    'value1': 80000,
                },
            ],
        },
        created() {
            console.log(this);
        },
    });
</script>
