<div id="A-template-tree">
    <ul>
        <li w-foreach="list as item">
            <p> id: <{item.id}> </p>
            <p> name: <{item.name}> </p>
            <ul w-if="item.children.length > 0">
                <li style="padding-left: 20px" w-foreach="item.children as it">
                    <p>id:<{it.id}></p>
                    <p>name:<{it.name}></p>
                    <ul w-if="it.children.length > 0">
                        <li style="padding-left: 40px" w-foreach="it.children as i">
                            <p> id: <{i.id}> </p>
                            <p> name: <{i.name}> ----------- </p>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<script>
    new Mingle({
        el: '#A-template-tree',
        data: {
            list: [],
        },
        async mounted() {
            let data = await this.$jsonp(`/server/mock/tree.json`);
            console.log(data);
            this.list = data;
        },
    });
</script>
