<div data-fn="data-image"
     data-url="http://e.aidalan.com/presenter/user/normal/chart?the_group=location&pf=<{pf}>&date_way=multi&group_way=<{group_way}>&date_range=<{date_range}>&dl_game_id=<{dl_game_id}>&dl_channel_id=<{dl_channel_id}>&media_id=<{media_id}>&dl_adv_position_id=<{dl_adv_position_id}>&dl_publisher_id=<{dl_publisher_id}>&principal_id=<{principal_id}>&original_id=<{original_id}>&group_type=<{group_type}>"
     data-from="user_analysis"
     data-colors='[" #6ad6b6"]'
     data-xaxis='["location"]'
     data-series='[["count","地域","bar"]]'
     data-size='{"height": 433}'
     data-title=""
     data-datadirect="y"
></div>

