<div data-fn="data-panel" data-url="" data-model='{"name":123,"parent":{"name": 12132139, "b":{"value":false}}}'>
    <h1>name:<{name}></h1>
    <h1>parent.name:<{parent.name}></h1>
    <h1>parent.name.b.value:<{parent.b.value}></h1>
</div>

<link rel="stylesheet" href="http://wui.local.aidalan.com/lib/heymetro/css/app.min.css">

<div class="row" data-fn="data-panel" data-url="http://sim.local.superdalan.com/e.data/account-total">

    <div class="col-xs-4">
        <span class="text-xs text-muted">消耗</span>
        <div class="">
            <span class="text-dark text-lg font-bold"><{today_cost}></span>
            <span class="text-sm"><(if <{today_cost}> > <{yesterday_cost}>)>
                            <span class="text-success"><span class="fa fa-long-arrow-up"></span> (((<{today_cost}> - <{yesterday_cost}>)/<{yesterday_cost}>)*100)%</span>
                        <(else)>
                            <span class="text-danger"><span class="fa fa-long-arrow-down"></span> (((<{yesterday_cost}> - <{today_cost}>)/<{yesterday_cost}>)*100)%</span>
                            <(/if)></span>
            <div class="pull-right m-t-xs m-r">
                                <span class="text-xs text-muted">昨天 <span
                                        class="font-bold"><{yesterday_cost}></span></span>
            </div>
        </div>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-2 b-l">
        <span class="text-xs text-muted">投放中</span>
        <div class="">
            <(if <{ad_status.out_of_budget_unit}> >0 )>
            <div class="text-warning pull-right" title="超预算"><span class="fa fa-warning"></span>
                <{ad_status.out_of_budget_unit}>
            </div>
            <(/if)>
            <span class="text-success text-lg"><{ad_status.running_unit}></span>
        </div>
    </div>
    <div class="col-xs-2 b-l">
        <span class="text-xs text-muted">覆盖媒体</span>
        <div class="">
            <span class="text-info text-lg"><{coverage.media_id_count}></span>
        </div>
    </div>
    <div class="col-xs-2 b-l">
        <span class="text-xs text-muted">投放游戏</span>
        <div class="">
            <span class="text-warning text-lg"><{coverage.original_id_count}></span>
        </div>
    </div>

</div>

<div data-fn="data-panel" data-model='{"users":[{"name":"Chris","age":10},{"name":"Alex","age":12}]}'>
    <{foreach users as user}>
    <h1>用户名：<{ user.name }></h1>
    <h2> 年龄 ：<{ user.age }></h2>
    <{/foreach}>
</div>


<!--str = str.replace(/(\(\d+)(\+|-|\*|\/)(\d+\))/,e => {-->
<!--   console.log(eval(e));-->
<!--   return eval(e)-->
<!--})-->
