<form-action id="game-list" data-async="true" style="display: flex">

    <form-select data-key="id" data-label="平台:" data-mode="single" data-url="http://e.local.aidalan.com/option/pf/list"
                 data-value="name"
                 name="pf"></form-select>

    <form-select data-groupby="game_original_name"
                 data-key="game_id"
                 data-label="游戏:" data-tags="tags"
                 data-url="http://e.local.aidalan.com/option/game/name?pf=<{pf}>"
                 data-value="<span class='ti-<{pf}>'></span> <{game_name}><span class='sr-only'><{game_original_name}></span>"
                 name="dl_game_id"
    ></form-select>

    <form-select data-label="账号:"
                 data-mode="multiple" data-placeholder="请选择"
                 data-url="http://e.local.aidalan.com/option/game/publisher?pf=0"
                 data-key="id" data-value="<{publisher_name}>" name="dl_publisher_id"></form-select>

    <form-select data-key="media_id" data-label="媒体:"
                 data-mode="multiple" data-url="http://e.local.aidalan.com/option/media/list"
                 data-value="media_name"
                 name="media_id"></form-select>

    <form-select data-key="channel_id"
                 data-label="渠道:"
                 data-url="http://e.local.aidalan.com/option/game/channel?pf=<{pf}>"
                 data-value="<{channel_name}>"
                 name="dl_channel_id"></form-select>

    <form-datepicker data-label="日期:" name="date"></form-datepicker>

    <button type="submit" class="ant-btn ant-btn-primary">提交</button>
    <button type="reset" class="ant-btn ant-btn-primary">重置</button>

</form-action>

<handle-request class="ant-btn ant-btn-primary" data-trigger="click"
                data-url="http://e.local.aidalan.com/option/game/name?pf=1">提交
</handle-request>

<data-table
    data-from="game-list"
    data-headerurl="http://e.local.aidalan.com/manage/useful/game/header"
    data-url="http://e.local.aidalan.com/manage/useful/game/list?pf=1"></data-table>

<!--<input data-fn="data-virtualTable"  />-->

<script>
    new Mingle();
</script>
