<layout-list>
    <data-chart
        data-url="/api/server/mock/chart/funnel.json"
        data-type="bar"
        data-key="key"
        data-title="注册总人数"
        data-value="value"
        data-colors="#37c9e3"
        data-groupby="key"
        data-height="400"></data-chart>
    <data-chart
        data-url="/api/server/mock/chart/funnel.json"
        data-type="hbar"
        data-title="渠道总充值"
        data-key="key"
        data-value="value"
        data-colors="#37c9e3"
        data-groupby="value"
        data-height="400"></data-chart>
    <data-chart
        data-url="/api/server/mock/chart/funnel.json"
        data-title="渠道综合评分"
        data-type="radar"
        data-key="key"
        data-value="value"
        data-colors="#37c9e3"
        data-groupby="value"
        data-height="400"></data-chart>
    <data-chart
        data-url="/api/server/mock/chart/funnel.json"
        data-type="pie"
        data-title="注册总人数占比"
        data-key="key"
        data-value="value"
        data-colors="#37c9e3"
        data-groupby="value"
        data-height="400"></data-chart>
    <data-chart
        data-url="/api/server/mock/chart/funnel.json"
        data-type="hbar"
        data-key="key"
        data-value="value"
        data-colors="#37c9e3"
        data-groupby="value"
        data-height="400"></data-chart>
    <data-chart
        data-url="/api/server/mock/chart/funnel.json"
        data-type="funnel"
        data-key="key"
        data-value="value"
        data-colors="#37c9e3"
        data-groupby="value"
        data-height="400"></data-chart>
    <data-chart
        data-url="/api/server/mock/chart/funnel.json"
        data-type="word"
        data-key="key"
        data-value="value"
        data-colors="#37c9e3"
        data-groupby="value"
        data-height="400"></data-chart>
</layout-list>
<script>
    new Mingle();
</script>
