<div class="layout-drawer">

    <layout-drawer class="ant-btn ant-btn-primary" data-content="Submit"
                   data-label="标题1"
                   data-length="400"
                   data-layout="left"
                   data-open="false"
    >
        <div class="container">
            <h1><{ message }></h1>
            <data-table
                    data-height="400"
                    data-from="user_analysis"
                    data-headerurl="/server/mock/table/tableHeader.json"
                    data-url="/server/mock/table/tableContent.json"
            ></data-table>

        </div>
    </layout-drawer>

    <layout-drawer class="ant-btn ant-btn-primary" data-content="Submit"
                   data-label="标题2"
                   data-length="400"
                   data-layout="top"
                   data-open="false"
    >
        <div class="container">
            <h1><{ message }></h1>
            <data-table
                    data-height="400"
                    data-from="user_analysis"
                    data-headerurl="/server/mock/table/tableHeader.json"
                    data-url="/server/mock/table/tableContent.json"
            ></data-table>

        </div>
    </layout-drawer>

    <layout-drawer class="ant-btn ant-btn-primary" data-content="Submit"
                   data-label="标题3"
                   data-length="400"
                   data-layout="right"
                   data-open="false"
    >
        <div class="container">
            <h1><{ message }></h1>
            <data-table
                    data-height="400"
                    data-from="user_analysis"
                    data-headerurl="/server/mock/table/tableHeader.json"
                    data-url="/server/mock/table/tableContent.json"
            ></data-table>

        </div>
    </layout-drawer>

    <define-element tag="form-select" onchange="console.log(this);">
        <input type="text">
    </define-element>

</div>

<script>
    new Mingle({
        el: '.layout-drawer',
        data: {
            message: '',
            list: [],
        },
        created(httpClient) {
            this.list = this.$get('/server/mock/chart/funnel.json');
        },
    });
</script>
