<tips-card class="ant-btn ant-btn-primary"
        <data-chart <data-chart
        data-title="标题"
        data-label="按钮">内容内容内容内容内容内容内容内容
</tips-card>

<tips-text class="ant-btn ant-btn-primary"
        <data-chart
    <data-chart
        data-label="button">内容内容内容内容内容内容内容内容
        </tips-text>

        <data-panel
        <data-chart
        <data-chart data-url="http://mingle.local.aidalan.com/server/mock/chart/funnel.json">
            <view-dropdown
            <data-chart
            <data-chart data-content="按钮">
                <a w-foreach="data as (item,i)" href="http://taobao.com"><{ item.key }> index: <{i}></a>
                </view-dropdown>
                </data-panel>


