<div data-fn="data-panel"
     data-model='{"status":true,"height":600,"title":"用户列表","msg": "返回成功","data":[{"name":"Chris","age":20},{"name":"Alex","age":30}]}'
>
    <h2>标题: <{ title }></h2>
    <h3>状态: <{ status }></h3>
    <p>总人数: <{ data.length * 200 / 100 + (300 - 100) }></p>


    <ul @if="status && data.length > 0">
        <li @foreach="data as item" @if="item.age > 25">
            <h1> 姓名: <{item.name.length * 100}>年龄: <{item.age}>
                <icon type="AppleOutlined" color="#f0f00f" size="18"/>
            </h1>
            <input data-fn="form-button"
                   data-label="label:"
                   data-enum="1,Android;2,iOS;3,MacOS;4,Windows"
                   data-disabled="false"
                   data-size="设置大小"
                   data-optionType="button"
                   name="form-select"
            />
        </li>
    </ul>

    <button class="ant-btn ant-btn-primary"
            data-fn="handle-request">
        Request
    </button>

    <button class="ant-btn ant-btn-primary" data-fn="layout-window" data-content="Submit">
        <div class="container">
            <h1><{ title }></h1>
            <form data-fn="form-action" data-layout="h">
                <input data-fn="form-select" name="pf"
                       value="1"
                       data-label="平台:"
                       data-mode="single"
                       data-key="id"
                       data-value="name"
                       data-url="http://e.aidalan.com/option/pf/list" data-size="sm">

                <input data-fn="form-select" name="pf"
                       value="1"
                       data-label="平台:"
                       data-mode="single"
                       data-key="id"
                       data-value="name"
                       data-url="http://e.aidalan.com/option/pf/list" data-size="sm">
            </form>

            <div data-fn="data-table"
                 data-height="400"
                 data-from="user_analysis"
                 data-headerurl="/mock/table/tableHeader.json"
                 data-url="/mock/table/tableContent.json"
            ></div>

        </div>
    </button>

    <div data-fn="layout-tab">
        <div data-slot="header">

        </div>

        <div data-title="类型1">
            <input data-fn="form-select" name="pf"
                   data-title="类型1"
                   value="1"
                   data-label="平台"
                   data-mode="single"
                   data-key="id"
                   data-value="name"
                   data-url="http://e.aidalan.com/option/pf/list" data-size="sm">
        </div>
        <div data-title="类型2">
            <input data-fn="form-select" name="pf"
                   value="1"
                   data-label="123213平台:"
                   data-mode="single"
                   data-key="id"
                   data-value="name"
                   data-url="http://e.aidalan.com/option/pf/list" data-size="sm">
        </div>
    </div>

</div>

// 数据统计任务配置
// 统计的数据源，统计方式，数据最终到哪去
// 举例：数据源 订单日志，统计方式：按日分组求和   最终统计到：日累计充值表
select date as day,sum(money) from order_list group by date
update date_pay_sum set pay_sum=0;
insert into date_pay_sum values(20201110,1000);
{
"task_name": "date_pay_sum",
"source_table":"order_list",
"source_group":"date",
"target_table":"date_pay_sum",
"target_fields": {
"date":{"source_field":"pay_time","alias":"day"},
"pay_sum":"money|sum",
}
}
