<form data-fn="form-ajax" style="display: flex" id="user_analysis">

    <!-- 日期 -->
    <input data-fn="form-datepicker" data-label="日期:"
           data-mindate="2016-01-01"
           data-maxdate="2020-10-26"
           data-singledatepicker="false"
           name="date_range"
    />
<!--    value="2020-10-28~2020-10-28"-->

<!--    &lt;!&ndash; 平台 &ndash;&gt;-->
<!--    <input data-fn="form-select" name="pf"-->
<!--           value="0"-->
<!--           data-label="平台:"-->
<!--           data-mode="single"-->
<!--           data-key="id"-->
<!--           data-value="name"-->
<!--           data-url="http://e.aidalan.com/option/pf/list" id="pf" data-size="sm">-->

<!--    &lt;!&ndash; 游戏 &ndash;&gt;-->
<!--    <input data-fn="form-select" name="dl_game_id" data-mode="multiple"-->
<!--           data-label="游戏:"-->
<!--           data-key="game_id"-->
<!--           data-value="<span class='ti-<{pf}>'></span> <{game_name}><span class='sr-only'><{game_original_name}></span>"-->
<!--           data-groupby="game_original_name"-->
<!--           data-tags="tags"-->
<!--           value=""-->
<!--           data-url="http://e.aidalan.com/option/game/name?pf=<{pf}>" id="game_id"-->
<!--           data-size="sm"-->
<!--    >-->

<!--    &lt;!&ndash; 媒体 &ndash;&gt;-->
<!--    <input data-fn="form-select" name="media_id" value="" data-mode="multiple" data-size="sm"-->
<!--           data-label="媒体:"-->
<!--           data-url="http://e.aidalan.com/option/media/list" id="media_id" data-value="media_name"-->
<!--           data-key="media_id">-->

<!--    &lt;!&ndash; 账号 &ndash;&gt;-->
<!--    <input data-fn="form-select" name="dl_publisher_id" data-mode="multiple" value=""-->
<!--           data-label="账号:"-->
<!--           data-size="sm" data-url="http://e.aidalan.com/option/game/publisher?pf=<{pf}>" id="publisher_id"-->
<!--           data-key="publisher_id" data-value="<span class='ti-<{pf}>'></span> <{publisher_name}>">-->

<!--    &lt;!&ndash; 负责人 &ndash;&gt;-->
<!--    <input data-fn="form-cascader" name="principal_id" data-mode="multiple"-->
<!--           data-groupby="department_name"-->
<!--           value=""-->
<!--           data-size="sm"-->
<!--           data-label="负责人:"-->
<!--           data-url="http://e.aidalan.com/option/game/principal" id="principal_id" data-key="id"-->
<!--           data-value="name">-->

<!--    &lt;!&ndash; 渠道 &ndash;&gt;-->
<!--    <input data-fn="form-select" name="dl_channel_id" data-mode="multiple"-->
<!--           data-label="渠道:"-->
<!--           data-url="http://e.aidalan.com/option/game/channel?pf=<{pf}>" id="channel_id" data-size="sm"-->
<!--           data-value="<span class='ti-<{pf}>'></span> <{channel_name}>" data-key="channel_id" value="">-->

<!--    &lt;!&ndash; 广告位 &ndash;&gt;-->
<!--    <input data-fn="form-input" name="adv_position_id" data-label="广告位" placeholder="广告位ID">-->

<!--    &lt;!&ndash; 用户分析 &ndash;&gt;-->
<!--    <input data-fn="form-button" data-label="用户分析" name="group_type" value="reg_count"-->
<!--           data-enum="reg_count,注册;login_count,活跃;pay_count,付费;" id="group_type">-->

    <button type="submit" class="ant-btn ant-btn-primary">提交</button>

</form>

<!--<div style="display: flex; flex-wrap: wrap;width: 100%;">-->

<!--    &lt;!&ndash; 地域用户画像 &ndash;&gt;-->
<!--    <div data-fn="data-image"-->
<!--         data-url="http://e.aidalan.com/presenter/user/normal/chart?the_group=location&pf=<{pf}>&date_way=multi&group_way=<{group_way}>&date_range=<{date_range}>&dl_game_id=<{dl_game_id}>&dl_channel_id=<{dl_channel_id}>&media_id=<{media_id}>&dl_adv_position_id=<{dl_adv_position_id}>&dl_publisher_id=<{dl_publisher_id}>&principal_id=<{principal_id}>&original_id=<{original_id}>&group_type=<{group_type}>"-->
<!--         data-from="user_analysis"-->
<!--         data-colors='[" #6ad6b6"]'-->
<!--         data-xaxis='["location"]'-->
<!--         data-series='[["count","地域","bar"]]'-->
<!--         data-size='{"height": 433}'-->
<!--         data-title=""-->
<!--         data-datadirect="y"-->
<!--    >-->
<!--    </div>-->


<!--    &lt;!&ndash; 品牌用户画像 &ndash;&gt;-->
<!--    <div data-fn="data-image"-->
<!--         data-url="http://e.aidalan.com/presenter/user/normal/chart?the_group=brand&pf=<{pf}>&date_way=multi&group_way=<{group_way}>&date_range=<{date_range}>&dl_game_id=<{dl_game_id}>&dl_channel_id=<{dl_channel_id}>&media_id=<{media_id}>&dl_adv_position_id=<{dl_adv_position_id}>&dl_publisher_id=<{dl_publisher_id}>&principal_id=<{principal_id}>&original_id=<{original_id}>&group_type=<{group_type}>"-->
<!--         data-from="user_analysis"-->
<!--         data-colors='["#6ad6b6"]'-->
<!--         data-xaxis='["brand"]'-->
<!--         data-series='[["count","品牌","bar"]]'-->
<!--         data-size='{"height": 433}'-->
<!--         data-title=""-->
<!--         data-datadirect="y"-->
<!--    ></div>-->

<!--</div>-->

<style>
  [data-fn=data-image] {
    width : 45%;
  }
</style>

<!--<div data-fn=" data-table"-->
<!--     data-autosum="true"-->
<!--     data-frozen="2,1"-->
<!--     data-headerurl="http://e.aidalan.com/presenter/user/location/header?group_type=<{group_type}>"-->
<!--     data-url="http://e.aidalan.com/presenter/user/location/data?pf=<{pf}>&date_way=multi&group_way=<{group_way}>&date_range=<{date_range}>&dl_game_id=<{dl_game_id}>&dl_channel_id=<{dl_channel_id}>&media_id=<{media_id}>&dl_adv_position_id=<{dl_adv_position_id}>&dl_publisher_id=<{dl_publisher_id}>&principal_id=<{principal_id}>&original_id=<{original_id}>&group_type=<{group_type}>">-->

<!--</div>-->

<!--<div data-fn="data-chartline"></div>-->


