.tableHeaderCell {
    width      : inherit;
    height     : inherit;
    text-align : center;
    //color : #ffffff;
}

@mixin thColor($color: transparentize()) {
    background-color : $color;
}

.virtual-grid {
    text-align : center !important;
}

.formTable {
    //padding             : 20px;
    //-webkit-user-select : none; /* Chrome/Safari/Opera */
    //-o-user-select      : none;
    //-moz-user-select    : none; /*火狐 firefox*/
    //-webkit-user-select : none; /*webkit浏览器*/
    //-ms-user-select     : none; /*IE10+*/
    //-khtml-user-select  : none; /*早期的浏览器*/
    //user-select         : none;
    position : relative;
    overflow : auto;

    // TODO 处理表头在弹窗中不显示的问题
    table {
        visibility : visible !important;
    }
}

.dropdown {
    position : absolute !important;
    //top      : 0;
    right    : 10px;
    top      : 48px; /* 没办法和和表格内容定位，只能定在 data-table 上，然后加上title的高度达到效果 */
    z-index  : 999;
}

.formTableWrap {
    //position : relative;
}

.show {
    display : block !important;
}

.hide {
    display : none !important;
}

