.data-smart-icons {
    //position  : absolute;
    height       : 12px;
    width        : 12px;
    display      : inline-block;
    //left      : -10px;
    //z-index   : 99;
    //top       : 49%;
    //transform : translateY(-50%);
    color        : #1890ff;
    margin-right : 4px;
}


