.formItem {
    display  : flex;
    position : relative;

    [form-component] {
        margin-right : 12px;
    }
}

.addIcon {
    position : absolute;
    right    : 20px;
    top      : 10px;
}
