//form-action[data-component-uid] {
//    margin-right : 20px;
//    min-width    : 120px;
//}

app-render {
    opacity    : 0;
    //visibility : hidden;
    transition : all 400ms linear;
}

[data-component-uid] {
    position : relative;
    display  : block;
}

form-action {
    padding : 8px 0;
}

form-action [data-component-uid] {
    margin : 0 10px;
}

[data-component-uid] {
    position   : relative;
    transition : all 150ms;
}


// 重写 form-item样式
:global {
    .ant-form-item-control-input-content {
        display     : flex !important;
        align-items : center !important;
    }

    .ant-form-item {
        margin-bottom : 0 !important;
    }

    .ant-layout-footer {
        background : #ffffff !important;
        padding : 0 !important;
    }

}

.flex-direction-row {
    display        : flex;
    flex-direction : row;
}

.flex-direction-rerow {
    display        : flex;
    flex-direction : row-reverse;
}

.flex-direction-column {
    display        : flex;
    flex-direction : column;
}

.flex-direction-recolumn {
    display        : flex;
    flex-direction : column-reverse;
}

::-webkit-scrollbar { /*滚动条整体样式*/

    width  : 4px; /*高宽分别对应横竖滚动条的尺寸*/

    height : 1px;

}

::-webkit-scrollbar-thumb { /*滚动条里面小方块*/

    cursor             : pointer;

    border-radius      : 1px;

    -webkit-box-shadow : inset 0 0 2px rgba(255, 255, 255, 0.2);

    background         : #acacac;

}

::-webkit-scrollbar-track { /*滚动条里面轨道*/

    -webkit-box-shadow : inset 0 0 2px rgba(167, 167, 167, 0.2);

    border-radius      : 1px;

    background         : #EDEDED;

}
